/* Progress Bar from https://codepen.io/ahmedabdelhafiz/pen/JmYVJJ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-container {
  margin: auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10dvh;
  height: 600px;
  width: 400px;
  background-color: #f2f2fd;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.curriculum {
  font-weight: bold;
  margin: 1rem 0rem;
  margin-bottom: 1.75rem;
  text-decoration: underline;
  font-size: 1.25rem;
  text-align: center;
}

.chapter-container {
  margin: 0.5rem;
  font-size: 1.25rem;
  gap: 0.5rem;
  display: flex;
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.title-p {
  font-size: 1rem;
}

.button {
  padding: 0.35rem 0.5rem;
  border-radius: 50%;
  margin-left: 0.25rem;
  align-self: center;
  border: none;
  background-color: #07070c;
  color: white;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

.white {
  color: white !important;
}

.p-container {
  margin-left: 0.25rem;
}

.progress {
  width: 200px;
  height: 200px;
  font-size: 30px;
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: #07070c;
  text-align: center;
  line-height: 200px;
  margin: 20px;
}

/* .progress::after {
  content: "%";
} */

.progress .title {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 37%;
  /* transform: translate(-50%, 50%); */
}

.progress .title-top {
  position: absolute;
  top: 6%;
  left: 26%;
  margin-top: -2rem;
  z-index: 10;
}

.progress .overlay {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #07070c;
}

.progress .left,
.progress .right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 10px solid #4a4ac6;
  border-radius: 100px 0px 0px 100px;
  border-right: 0;
  transform-origin: right;
}

.progress .left {
  animation: load1 1s linear forwards;
}

.progress:nth-of-type(2) .right,
.progress:nth-of-type(3) .right {
  animation: load2 0.5s linear forwards 1s;
}

.progress:last-of-type .right,
.progress:first-of-type .right {
  animation: load3 0.8s linear forwards 1s;
}

@keyframes load1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes load2 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(252deg);
  }
}

@keyframes load3 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(252deg);
  }
}
